<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotWarp" version="1.2.1" targetFramework="net45" />
  <package id="DynamicImage" version="3.1.1" targetFramework="net45" />
  <package id="Meshellator" version="2.1.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Nexus" version="2.1.0" targetFramework="net45" />
  <package id="Nexus.Wpf" version="2.1.0" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net45" />
</packages>